<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <div class='container-fluid'>    
    
  <owl-carousel [options]="SlideOptions" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']" > 
        <div style="align-content: center">  
        <img style="height: 460px;width:100%" src="../assets/slider/Carousel1.jpg"/>  
        </div>  
    
        <div style="align-content: center">  
        <img style="height: 460px;width:100%" src="../assets/slider/Carousel2.jpg"/>  
        </div>  
    
        <div style="align-content: center">  
        <img style="height: 460px;width:100%" src="../assets/slider/Carousel1.jpg"/>  
        </div> 
    </owl-carousel>  
  </div>   -->

