<!-- Begin Services -->
<section id="services-section" class="page text-center margin-top-header">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Services</h2>
                <div class="devider"></div>
                <p class="subtitle">what we really know how</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>
                        <div class="rotate-box-info">
                            <h4>App Development</h4>
                            <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-pie-chart"></i></span>
                        <div class="rotate-box-info">
                            <h4>Ui Design</h4>
                            <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                        <div class="rotate-box-info">
                            <h4>Cloud Hosting</h4>
                            <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                        <span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
                        <div class="rotate-box-info">
                            <h4>Coding Pen</h4>
                            <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                        </div>
                    </a>
                </div>
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
        
        <div class="container">
            <!-- Cta Button -->
            <div class="extra-space-l"></div>
            <div class="text-center">
                <a class="btn btn-default btn-lg-xl" href="http://www.imransdesign.com/" target="_blank" role="button">Large Button</a>
            </div>
        </div> <!-- /.container -->                       
    </div>
    <!-- End rotate-box-2 -->
</section>
<!-- End Services -->