       
          
      <!-- Begin cta -->
      <section id="cta-section" style="background-color: #363940">
          <div class="cta">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-9">
                        <h1>Download Our Pdf</h1>
                        <p>Inspired by nature, follow technology, appreciate the classics. You can build modern & professional websites with Unika. The possibilities are just endless.</p>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
                    <a class="btn btn-default btn-lg" href="http://www.imransdesign.com/" target="_blank" role="button">Download</a>
                        </div>
                    </div>
                    
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>
      </section>
      <!-- End cta -->
        
          
        <!-- Begin testimonials -->
        <section id="testimonial-section">
            <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(./assets/img/testimonial-bg.jpg);">
                <div class="cover"></div>
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Reviews</h2>
                            <div class="devider"></div>
                            <p class="subtitle">What people say about us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div class="testimonial-inner center-block text-center">
                        <div id="owl-testimonial" class="owl-carousel">
                            <div class="item">
                                <blockquote>
                                    <p>"This was my first experience with that team and outperformed my expectation! They know there stuff and I highly recommend them! A+++".</p>
                                    <footer><cite title="Source Title">Daryl Hodgeman</cite></footer>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua."</p>
                                    <footer><cite title="Source Title">John Doe</cite></footer>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote>
                                    <p>"Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit".</p>
                                    <footer><cite title="Source Title">John Doe</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End testimonials -->
       
        <!-- Begin counter up -->
        <section id="counter-section" style="background-color: #363940">                					
            <div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(./assets/img/counter-bg.jpg);">
                <div class="cover"></div>
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Some Fun Facts</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Before anyone is not told</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">

                    <div class="row">

                        <div class="fact text-center col-md-3 col-sm-6">
                            <div class="fact-inner">
                                <i class="fa fa-users fa-3x"></i>
                                <div class="extra-space-l"></div>
                                <span class="counter">6666</span>
                                <p class="lead">Clients Worked With</p>
                            </div>
                        </div>

                        <div class="fact text-center col-md-3 col-sm-6">
                            <div class="fact-inner">
                                <i class="fa fa-leaf fa-3x"></i>
                                <div class="extra-space-l"></div>
                                <span class="counter">800</span>
                                <p class="lead">Completed Projects</p>
                            </div>
                        </div>

                        <div class="fact text-center col-md-3 col-sm-6">
                            <div class="fact-inner">
                                <i class="fa fa-trophy fa-3x"></i>
                                <div class="extra-space-l"></div>
                                <span class="counter">55</span>
                                <p class="lead">Winning Awards</p>
                            </div>
                        </div>

                        <div class="fact last text-center col-md-3 col-sm-6">
                            <div class="fact-inner">
                                <i class="fa fa-coffee fa-3x"></i>
                                <div class="extra-space-l"></div>
                                <span class="counter">1100</span>
                                <p class="lead">Cups of coffee drinking</p>
                            </div>
                        </div>

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div>
        </section>
        <!-- End counter up -->
            
            
            
            
        <!-- Begin team-->
        <section id="team-section" class="page" style="background-color: #363940">
            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                        <h2>Our Team</h2>
                        <div class="devider"></div>
                        <p class="subtitle">Meat our experts</p>
                    </div>
                </div>
            </div>
            <!-- End page header-->
            <div class="container">
                <div class="row">
                    <div class="team-items">
                        <div class="col-md-2">
                            <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                <div class="team-item">
                                    <div class="team-triangle">
                                        <div class="content">
                                            <img src="./assets/img/team/1.jpg" alt="title"/>
                                            <div class="team-hover text-center">
                                                <i class="fa fa-male"></i>
                                                <p>John Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                <div class="team-item">
                                    <div class="team-triangle">
                                        <div class="content">
                                            <img src="./assets/img/team/1.jpg" alt="title"/>
                                            <div class="team-hover text-center">
                                                <i class="fa fa-female"></i>
                                                <p>Jane Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                <div class="team-item">
                                    <div class="team-triangle">
                                        <div class="content">
                                            <img src="./assets/img/team/1.jpg" alt="title"/>
                                            <div class="team-hover text-center">
                                                <i class="fa fa-male"></i>
                                                <p>John Doe</p>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                <div class="team-item">
                                    <div class="team-triangle">
                                        <div class="content">
                                            <img src="./assets/img/team/1.jpg" alt="title"/>
                                            <div class="team-hover text-center">
                                                <i class="fa fa-male"></i>
                                                <p>John Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                <div class="team-item">
                                    <div class="team-triangle">
                                        <div class="content">
                                            <img src="./assets/img/team/1.jpg" alt="title"/>
                                            <div class="team-hover text-center">
                                                <i class="fa fa-male"></i>
                                                <p>John Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                <div class="team-item">
                                    <div class="team-triangle">
                                        <div class="content">
                                            <img src="./assets/img/team/1.jpg" alt="title"/>
                                            <div class="team-hover text-center">
                                                <i class="fa fa-male"></i>
                                                <p>John Doe</p>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                <div class="team-item">
                                    <div class="team-triangle">
                                        <div class="content">
                                            <img src="./assets/img/team/1.jpg" alt="title"/>
                                            <div class="team-hover text-center">
                                                <i class="fa fa-female"></i>
                                                <p>Jane Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>  
                </div>
            </div>

        </section>
        <!-- End team-->
            
            
            
            
        <!-- Begin partners -->
        <section id="partners-section" style="background-color: #363940">
            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                        <h2>Our Partners</h2>
                        <div class="devider"></div>
                        <p class="subtitle">Those who trust us</p>
                    </div>
                </div>
            </div>
            <!-- End page header-->
            <div class="container">
                <div id="owl-partners" class="owl-carousel">
                    <img src="./assets/img/partners/1.png" alt="img">
                    <img src="./assets/img/partners/2.png" alt="img">
                    <img src="./assets/img/partners/3.png" alt="img">
                    <img src="./assets/img/partners/4.png" alt="img">
                    <img src="./assets/img/partners/5.png" alt="img">
                    <img src="./assets/img/partners/6.png" alt="img">
                    <img src="./assets/img/partners/7.png" alt="img">
                </div>
            </div>
        </section>
        <!-- End partners -->
            
            
            
            
        <!-- Begin prices section -->
        <section id="prices-section" class="page" style="background-color: #363940">

            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                        <h2>Prices</h2>
                        <div class="devider"></div>
                        <p class="subtitle">That how much</p>
                    </div>
                </div>
            </div>
            <!-- End page header-->

            <div class="extra-space-l"></div>

            <!-- Begin prices -->
            <div class="prices">
                <div class="container">
                    <div class="row">
                        
                        <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <i class="fa fa-plug fa-2x"></i>
                                    <h3>Basic</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p class="lead"><strong>$49</strong></p>
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item">Personal Use</li>
                                    <li class="list-group-item">3 projects</li>
                                    <li class="list-group-item">1 GB Disk</li>
                                    <li class="list-group-item">Custom Domain</li>
                                    <li class="list-group-item">24/7 Support</li>
                                </ul>
                                <div class="panel-footer text-center">
                                    <a class="btn btn-default" href="#">Order Now!</a>
                                </div>
                            </div>										
                        </div>

                        <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.5s">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <i class="fa fa-cog fa-2x"></i>
                                    <h3>Advanced</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p class="lead"><strong>$99</strong></p>
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item">Personal Use</li>
                                    <li class="list-group-item">5 projects</li>
                                    <li class="list-group-item">5 GB Disk</li>
                                    <li class="list-group-item">Custom Domain</li>
                                    <li class="list-group-item">24/7 Support</li>
                                </ul>
                                <div class="panel-footer text-center">
                                    <a class="btn btn-default" href="#">Order Now!</a>
                                </div>
                            </div>										
                        </div>
                        
                        <div class="price-box col-sm-6 price-box-featured col-md-3 wow flipInY" data-wow-delay="0.7s">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <i class="fa fa-star fa-2x"></i>
                                    <h3>Professional</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p class="lead"><strong>$149</strong></p>
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item">Personal Use</li>
                                    <li class="list-group-item">20 Projects</li>
                                    <li class="list-group-item">20 GB Disk</li>
                                    <li class="list-group-item">Custom Domain</li>
                                    <li class="list-group-item">24/7 Support</li>
                                </ul>
                                <div class="panel-footer text-center">
                                    <a class="btn btn-default" href="#">Order Now!</a>
                                </div>
                                <div class="price-box-ribbon"><strong>Popular</strong></div>
                            </div>										
                        </div>
                        
                        <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.9s">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <i class="fa fa-plus fa-2x"></i>
                                    <h3>Ultimate</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p class="lead"><strong>$199</strong></p>
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item">Multi Use</li>
                                    <li class="list-group-item">Unlimited Projects</li>
                                    <li class="list-group-item">99 GB Disk</li>
                                    <li class="list-group-item">Custom Domain</li>
                                    <li class="list-group-item">24/7 Support</li>
                                </ul>
                                <div class="panel-footer text-center">
                                    <a class="btn btn-default" href="#">Order Now!</a>
                                </div>
                            </div>										
                        </div>
                        
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div>
            <!-- End prices -->
            <div class="extra-space-l"></div>
        </section>
        <!-- End prices section -->
            
            
            
            
        <!-- Begin social section -->
        <section id="social-section" style="background-color: #363940">
        
           
            
        </section>
        <!-- End social section -->
            
        <!-- Begin footer -->
       <app-footer></app-footer>
        <!-- End footer -->
